PyPDF2
Pillow
pytesseract
pdfplumber
PyMuPDF
streamlit
python-dotenv
langchain‑core==0.2.43
langchain-google-genai
langchain-community
langchain-ollama
google-generativeai
faiss-cpu
langchain-text-splitters
langchain==0.2.14

