PyPDF2
Pillow
pytesseract
pdfplumber
PyMuPDF
streamlit
python-dotenv
langchain
langchain-google-genai
langchain-community
langchain-ollama
google-generativeai
faiss-cpu
langchain-text-splitters
